* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: gray;
  margin: 0;
}

.header-title {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-title img {
  margin: 0.5rem 0;
}
.header-title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
}
.header-title p {
  font-family: "Handlee", cursive;
  font-size: 1.1rem;
  color: gray;
}

header {
  margin-bottom: 2rem;
}

.header-top {
  gap: 0.5rem;
  padding: 1rem 0;
}

.header-top a {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}
.header-top a:hover {
  color: #1A77D1;
}
.header-top a i {
  font-size: 1rem;
  color: #1A77D1;
}

.navbar-position {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 2px 2px 5px rgb(160, 158, 158);
}

.navbar-button {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.navbar-button:hover {
  background-position: left;
  color: white;
}

.navbar-style li a {
  font-size: 1.2rem;
  color: black;
}
.navbar-style li:hover {
  color: coral;
  text-decoration: underline;
}

.carousel-inner {
  position: relative;
}

.banner-caption {
  position: absolute;
  top: 6rem;
}

.banner-header-span {
  color: #1A77D1;
}

.slider-btn {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.slider-btn:hover {
  background-position: left;
  color: white;
}

.banner-titale {
  font-size: 2.5rem;
  font-weight: bold;
}

.banner-text {
  font-size: 1rem;
}

.card-section-parents {
  position: relative;
  top: -13rem;
  z-index: 1;
  margin-bottom: 3rem;
}

.card-section {
  width: 30%;
  padding: 2rem;
  color: white;
  background-color: #1A77D1;
  border-radius: 10px;
  margin-top: 1.5rem;
}
.card-section h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-section p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.card-section table {
  margin-bottom: 1rem;
}

.help-section {
  margin-top: -12rem;
}

.help-container-all {
  margin: 3rem 0;
}

.help-container {
  text-align: center;
}
.help-container i {
  font-size: 2.5rem;
  padding: 1.5rem 1.2rem;
  color: #1A77D1;
  border: 1px solid gray;
  border-radius: 100px;
}
.help-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}
.help-container p {
  font-size: 1rem;
}
.help-container:hover .icon {
  background-color: #1A77D1;
  color: white;
  border: none;
}
.help-container .icon-2 {
  padding: 1.6rem 1.9rem;
}
.help-container .icon-3 {
  padding: 1.6rem 1.5rem;
}

.details-section {
  background-image: url(img/blockqoute-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2.5rem;
}

.details-container {
  background-color: #1A77D1;
  opacity: 0.8;
  padding: 5rem 2rem;
}

.details-content {
  text-align: center;
  margin: 1.5rem 0;
  color: white;
}
.details-content:hover i {
  color: #1A77D1;
  background-color: white;
}
.details-content i {
  font-size: 1.8rem;
  padding: 1.2rem;
  border: 2px solid white;
  border-radius: 100%;
  margin: 0;
}
.details-content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.details-content p {
  font-size: 1rem;
  margin: 0;
}

.offer-section i {
  font-size: 0.5rem;
  color: white;
  background-color: #1A77D1;
  padding: 0.3rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.offer-section hr {
  width: 5%;
  border: none;
  height: 2px;
  margin-bottom: 0.5rem;
  color: black;
}

.emergency-section {
  margin: 3.5rem 0;
  background-image: url(img/call-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.emergency-section .emergency-container {
  background-color: #1A77D1;
  opacity: 0.8;
  padding: 6rem 0;
}
.emergency-section .emergency-containt {
  width: 50%;
  margin: auto;
}
.emergency-section h2 {
  font-size: 2rem;
  font-weight: bold;
}
.emergency-section button {
  color: #1A77D1;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, white 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.emergency-section button:hover {
  background-position: left;
  color: white;
}

.health-serices {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.health-serices .health-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.health-serices i {
  color: #1A77D1;
}

.treatment-container {
  width: 32%;
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid rgb(204, 202, 202);
  background-color: white;
}
.treatment-container .treatment-contant i {
  color: #1A77D1;
}
.treatment-container .treatment-contant .title {
  font-size: 1.3rem;
}

.treatment-text {
  margin: 2rem 0;
}

.treatment-button {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
  width: 95%;
  display: block;
  margin: auto;
}
.treatment-button:hover {
  background-position: left;
  color: white;
}

.medical-news-section {
  padding: 2rem 0 4rem 0;
}
.medical-news-section .medical-news-card {
  box-shadow: 5px 5px 20px rgb(197, 196, 196);
  transition: 0.5s;
}
.medical-news-section .medical-news-card:hover {
  border-bottom: 3px solid #1A77D1;
}

.appointment form input, .appointment form select, .appointment form textarea {
  border: 1px solid rgb(160, 159, 159);
  border-radius: 5px;
}
.appointment button {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.appointment button:hover {
  background-position: left;
  color: white;
}

.sing-up {
  background-color: #EDF2FF;
  padding: 5rem 0;
}
.sing-up button {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.sing-up button:hover {
  background-position: left;
  color: white;
}
.sing-up input {
  border: 1px solid rgb(160, 159, 159);
  border-radius: 5px;
}

footer {
  background-color: #176ABC;
  padding: 4rem 0;
}
footer .about-us i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.6rem;
  margin: 0.3rem;
}
footer .about-us i:hover {
  color: #1A77D1;
  background-color: white;
}
footer h5 {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
  display: inline-block;
  margin-bottom: 1.8rem;
}
footer a {
  color: white;
  text-decoration: none;
  transition: 1s;
}
footer a:hover {
  color: white;
}
footer .newsletter input {
  width: 90%;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
}
footer .newsletter button {
  border: 1px solid white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
footer .newsletter .btn-icon {
  color: #1A77D1;
  padding: 0.8rem;
  margin: 0;
}

.footer-bottom {
  background-color: #1A76D1;
}
.footer-bottom p {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .flex-around {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-style li {
    text-align: center;
  }
  .navbar-style li:hover {
    background-color: #1A77D1;
    border-radius: 0.5rem;
  }
  .banner-titale {
    font-size: 2rem;
  }
  .banner-text {
    font-size: 1rem;
  }
  .card-1 {
    width: 48%;
    float: left;
  }
  .card-2 {
    width: 48%;
    float: right;
    margin-bottom: 1.5rem;
  }
  .card-3 {
    width: 100%;
    clear: both;
  }
  .card-section-parents {
    position: static;
  }
  .header-title {
    width: 80%;
  }
  .header-title h2 {
    font-size: 1.7rem;
  }
  .header-title p {
    font-size: 1rem;
  }
  .help-section {
    margin-top: 0;
  }
  .offer-section-img {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
  .emergency-section .emergency-container {
    padding: 4rem 0;
  }
  .emergency-section .emergency-containt {
    width: 65%;
    margin: auto;
  }
  .emergency-section h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  .health-serices .health-container {
    grid-template-columns: auto auto;
  }
  .treatment-container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .banner-caption {
    top: 1.5rem;
  }
  .banner-titale {
    font-size: 2rem;
  }
  .banner-text {
    font-size: 0.9rem;
  }
  .slider-btn {
    font-weight: normal;
    font-size: small;
  }
  .card-section {
    width: 100%;
  }
  .emergency-section .emergency-containt {
    width: 80%;
    margin: auto;
  }
  .emergency-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .health-serices .health-container {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 576px) {
  .banner-caption {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner-titale {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .banner-text {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .card-section {
    padding: 1rem;
  }
  .card-section h3 {
    font-size: 1.5rem;
  }
  .header-title {
    width: 85%;
  }
  .header-title h2 {
    font-size: 1.3rem;
  }
  .header-title p {
    font-size: 0.9rem;
    color: black;
  }
  .emergency-section .emergency-containt {
    width: 90%;
    margin: auto;
  }
  .emergency-section h2 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .emergency-section button {
    margin: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */